<div class="titleblock">
<button (click)="goHome()" class="return">↩️ Retour</button>
  <div class="title">{{ olympic?.country }}</div>
</div>

<div class="two-blocks">
  <div class="block">
    Number of entries<br>
    <strong>{{ entriesCount }}</strong>
  </div>
  <div class="block">
    Total number of medals<br>
    <strong>{{ totalMedalsCount }}</strong>
  </div>
  <div class="block">
    Total number of athletes<br>
    <strong>{{ totalAthletesCount }}</strong>
  </div>
</div>

<div class="chart-wrapper">
  <canvas #medalsChart id="medalsChart"></canvas>
</div>

